.bigPic {
	
	position: relative;
}
.bigPic_img {
	max-height: 600px;
}
.bp_right_arrow{
	position: absolute;
	right: 0;
	height: 100%;
	text-align: center;
	width: 50px;
	opacity: 0;
	background-color: #333;
	cursor: pointer;
}

.bp_left_arrow{
	position: absolute;
	left: 0;
	height: 100%;
	text-align: center;
	width: 50px;
	opacity: 0;
	background-color: #333;
	cursor: pointer;
	-webkit-transform:scaleX(-1);
    -moz-transform:scaleX(-1);
    -ms-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
}

.bp_right_arrow:hover {
	opacity: 0.4;
}

.bp_left_arrow:hover {
	opacity: 0.4;
}

.bp_right_arrow img{
	position: relative;
	top: 50%;
}

.bp_left_arrow img{
	position: relative;
	top: 50%;
}

.bp_title {
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-weight: bold;
	line-height: 1.2;
	font-size: 18px;
	color: #f3f3f3;
	position: absolute;
	margin-top: 20px;
}

.bp_like {
	float: left;
	margin-left: 10px;
}
.bp_name {
	float: left;
	margin-left: 10px;
}